
<nav class="navbar navbar-inverse" role="navigation">
  <a class="navbar-brand" href="#">Rubypractice</a>
  
  <div class="collapse navbar-collapse" id="navbarNav">
   
        <%= link_to 'Home', root_path %>   |
        <%= link_to 'About Us', home_about_path%> 
      
  </div>
</nav>