
<div class='jumbotron'>

<h1>Welcom to my Pinterested App</h1>
        <p>This is the Best App Ever !</br> 
        please stay tuned as my app developers.
        It will be full of awesomesauce!
        </p>
        <% if signed_in? %>
         <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class:'btn btn-info'  %>
         <%= link_to 'Edit Profile', edit_user_registration_path, class:'btn btn-danger' %>
         <% else %>
         <%=link_to 'Log in', new_user_session_path, class:'btn btn-info' %>
         <%= link_to 'Join',new_user_registration_path, class:'btn btn-danger' %>
         <% end %>
</div>