

<div   class =" jumbotron ">
<h1>About My App </h1>
<p><strong>I used Ruby on Rails with Cloud9</strong><br/>
Cloud 9 provides a hosted development environment. The Cloud9 computer runs Ubuntu Linux, a popular operating system for Rails development.
The online computer is instantly created with everything in place to immediately begin working on projects in Rails.<br/>
Ruby on Rails used as Rails is a web application development framework written in the Ruby  language.
It is designed to make programming web application easier by making assumptions about what every developer needs to get started. 
It allows me  to write less code while accomplishing more than many other languages and frameworks

</p>

<%= link_to 'About App', home_about_path, class:'btn btn-info' %>
<%= link_to 'Home', root_path, class: 'btn btn-success' %>
</div>