

<div   class =" jumbotron ">
<h1>Hello Everyone</h1>
<p>This is Luwam solomon App . I love codeing i
And I am hopoing everyone doing that  too!</p>

<%= link_to 'About Us', home_about_path, class:'btn btn-info' %>
<%= link_to 'Home', root_path, class: 'btn btn-success' %>
</div>