
<div class='jumbotron'>

<h1>Welcom to Luwam App</h1>
        <p>This is the Best App Ever !</br> 
        please stay tuned as my app developers.
        It will be full of awesomesauce!
        </p>
        
         <%=link_to 'About Us', home_about_path, class:'btn btn-primary' %>
         <%= link_to 'Home', root_path, class:'btn btn-success' %>
</div>